@use "../colors";

#section-production-page {
  justify-content: center;
  align-items: center;

  > div {
    position: relative;
    padding-top: 4em;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.production-grid {
    gap: 2em;
    margin-top: 4em;
    width: 90%;
    height: 90vh;

    div.showcase {
      position: relative;
      max-height: 400px;
      max-width: 400px;
      float: left;
      margin: 1em;

      video {
        max-height: inherit;
        max-width: inherit;
        transition: filter 300ms ease;
        filter: brightness(70%) blur(2px);

        &:hover {
          filter: brightness(100%) blur(0);
        }
      }

      h4 {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: fit-content;
        width: fit-content;
        font-size: x-large;
        text-wrap: initial;
      }

      cursor: pointer;
    }
  }
}

#player-dialog {
  &::backdrop {
    background-color: colors.$black;
    opacity: 0.7;
  }
  margin: auto;

  background: none;
  border: none;

  button {
    border: none;
    cursor: pointer;
    outline: inherit;
  }

  > div {
    position: relative;
    height: fit-content;
    width: fit-content;
    background: none;

    video {
      max-width: 80vw;
      max-height: 80vh;
      object-fit: cover;
      display: block;
      cursor: pointer;
    }

    button {
      background: colors.$gray;
      opacity: 0.9;
      transition: opacity 100ms ease;
      border: solid colors.$white 2px;

      &:hover {
        opacity: 1;
      }
    }

    button.play-button {
      position: absolute;
      align-self: center;
      justify-self: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      padding: 6px;
      scale: 1.2;

      > img {
        filter: invert(100%);
        width: 100%;
        height: 100%;
      }
    }

    div.controls {
      position: absolute;
      bottom: 6px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // display: none;
      button {
        width: 34px;
        height: 34px;
        border-radius: 4px;
        background: colors.$gray;
        > img {
          filter: invert(100%);
          width: 100%;
          height: 100%;
        }
      }

      button.stop-button {
      }

      input.progress {
        width: 100%;
        height: 100%;
        accent-color: colors.$gray;
        margin-left: 4px;
        margin-right: 4px;
      }

      button.full-view-button {
      }
    }
  }
}
