@use "../colors";

#section-showcases-page {
  justify-content: flex-start;

  > div {
    position: relative;
    padding-top: 4em;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.showcases-grid {
    gap: 2em;
    margin-top: 4em;
    width: 90%;
    height: 90vh;

    div.showcase {
      position: relative;
      max-height: 400px;
      max-width: 400px;
      float: left;
      background: red;
      margin: 1em;
      video {
        max-height: inherit;
        max-width: inherit;
        // height: inherit;
      }
    }
  }
}
