$black: #000000;
$white: #ffffff;
$green-dark: #097000;
$green-light: #4be23d;

$white: #f9f9f9;
$black: #0d0d0d;

$green-dark: #0e3d2f;
$green-light: #29a36a;

$gray: #a0a0a0;

$green-gradient-1: #2dcf8c;
$green-gradient-2: #157f5d;
