:root {
  --col-white: #ffffff;
  --col-green-dark: #097000;
  --col-green-light: #4be23d;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  background: black;
  color: var(--col-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
b,
span {
  color: var(--col-white);
}

.gradiented-text {
  background-image: linear-gradient(
    90deg,
    var(--col-green-light),
    var(--col-green-dark)
  );
  color: transparent;
  background-clip: text;
}

.gradiented-container {
}

.header {
  text-align: center;
  color: var(--col-white);
}

.section-marker {
  border-radius: 1em;
  background: #505050d2;
  line-height: 2em;
  height: 2em;
  width: fit-content;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.section-light {
}

.section-dark {
}

#section-intro {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

#section-intro > video {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

#section-intro > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

#section-intro > div > ul {
  display: flex;
  flex-direction: row;
  color: var(--col-white);
  justify-content: space-evenly;
}

li::marker {
  content: "✅ ";
}
