@use "colors";
@use "sections/intro";
@use "sections/services";
@use "sections/showcases";
@use "sections/pipeline";
@use "sections/command";
@use "sections/form";
@use "sections/showcases_page";

* {
  margin: 0;
  padding: 0;
}

body {
  background: colors.$black;
  color: colors.$white;

  .scroller {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
}

footer {
  background: black;
}

section {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: colors.$white;
    text-align: center;
  }

  .section-description {
    color: colors.$gray;
    font-size: 20px;
    margin-bottom: 56px;
    max-width: 700px;
    line-height: 1.5;
    text-align: center;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section-marker {
    border-radius: 1.2em;
    line-height: 2.4em;
    height: 2.4em;
    width: fit-content;
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-size: medium;
    color: rgba(colors.$white, 0.8);
  }

  .fictive-block {
    height: 6em;
  }
  .more-container {
    position: absolute;
    justify-self: end;
    bottom: 3em;
  }

  .more-button {
    background: transparent;
    color: colors.$white;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid colors.$green-gradient-1;
    border-radius: 10px;
    padding: 1em 2em;
    cursor: pointer;
    transition: border-color 0.2s, color 0.2s, background 0.2s;
    &:hover {
      background: colors.$green-gradient-2;
      color: colors.$black;
      border-color: colors.$green-gradient-2;
    }
  }
  .subnote {
    color: colors.$gray;
    font-size: 15px;
    margin-top: 1em;
    text-align: center;
    max-width: 96%;
  }
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    colors.$green-gradient-1,
    colors.$green-gradient-2
  );
  color: transparent;
  background-clip: text;
}

.gradient-container {
  background-image: linear-gradient(
    90deg,
    rgba(colors.$green-dark, 0.5),
    rgba(colors.$green-light, 0.7)
  );
  box-shadow: 0 0 10px 0.2px colors.$green-dark;
}

.header {
  text-align: center;
}

section.dark {
  background: linear-gradient(
    110deg,
    colors.$black 80%,
    colors.$green-dark 100%
  );
  transition: background 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

section.light {
  background: linear-gradient(
    70deg,
    colors.$black 80%,
    colors.$green-dark 100%
  );
  transition: background 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 700px) {
  body {
    .section-marker {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    .section-title {
      font-size: 38px;
    }
    .section-description {
      font-size: 18px;
      width: 90%;
    }
    section {
      height: fit-content;
      &.dark {
        background: radial-gradient(
          circle at 80% 50%,
          colors.$green-dark 0%,
          colors.$black 60%,
          colors.$black 100%
        );
        transition: background 0.8s cubic-bezier(0.4, 0, 0.2, 1),
          color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &.light {
        background: radial-gradient(
          circle at 20% 50%,
          colors.$green-dark 0%,
          colors.$black 60%,
          colors.$black 100%
        );
        transition: background 0.8s cubic-bezier(0.4, 0, 0.2, 1),
          color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .scroller {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: none;
    }
  }
}
#social-networks-container {
  position: absolute;
  right: 15em;
  top: -35px; // Hidden because it will appear after js let it to
  transition: 500ms linear;

  div {
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 9999;
    padding: 3px 16px 1px 16px;

    background-color: colors.$green-light;
    border-radius: 0 0 14px 14px;

    &::before {
      content: "";
      width: 45px;
      height: 19px;
      position: absolute;
      left: -2.8em;
      top: -1px;
      border-radius: 0 1.5em 0 0;
      box-shadow: 15px 0 0 0 colors.$green-light;
      z-index: 9990;
    }

    &::after {
      content: "";
      width: 45px;
      height: 19px;
      position: absolute;
      right: -2.8em;
      top: -1px;
      border-radius: 1.5em 0 0 0;
      box-shadow: -15px 0 0 0 colors.$green-light;
      z-index: 9990;
    }

    > ul {
      display: flex;
      list-style: none;
      gap: 10px;

      > li {
        img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
